<iframe>
<html>
  <head>
  <meta charset="utf-8">
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <script type="text/javascript">
      function redirect () {
        window.open("https://www.w3schools.com", "_blank", "toolbar=no,scrollbars=yes,resizable=no");
      }
    </script>
    <div class="container">
      <p>
        Congratulation! you have been selected for Tech Hunt exam.
        Please complete this assessment and sumit for evaluation.
        You will be notified about your exam result and rank once you
        submit the exam.
      </p>
      <button type="button" class="btn btn-success" onclick="redirect()" title="Start Exam">Start</button>
    </div>
  </body>
</html>
</iframe>
